<div class="backgroundhp">
  <div class="container col-6">
    <h1 class="mb-5">What is your next trip ?</h1>
    <%= simple_form_for @trip do |f| %>
      <%= f.input :departure, label: false, placeholder: "Departure",
            input_html: { data: { address_autocomplete_target: "address" } },
            wrapper_html: { data: { controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"] } }
      %>
      <%= f.input :destination, label: false, placeholder:"Destination" %>
      <%= f.button :button, class:"btn btn-primary absolute rounded-circle" do %>
        <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
    <% end %>
    <div class="heading-new">
      <div class="puceText"></div>
        <h2>Need Inspiration ?</h2>
        <p>Get inspired with the favorites destination of users</p>
      </div>
    </div>
</div>


<div class="container">
  <div class="grid">

  <div class="col1">
      <%= form_for(@trip) do |f| %>
        <%= f.hidden_field :departure, value: "marseille" %>
        <%= f.hidden_field :destination, value: "dubai" %>
        <%= f.button :button, class:"btn" do%>
          <div class="dubai">
            <div class="boutn">Dubaï</div>
          </div>
        <% end %>
      <% end %>
  </div>




    <div class="col2">
      <div class="col2-ligne1">
        <div class="col2-col1">
          <div class="col2-col1-ligne1">
            <%= form_for(@trip) do |f| %>
              <%= f.hidden_field :departure, value: "marseille" %>
              <%= f.hidden_field :destination, value: "istambul" %>
              <%= f.button :button, class:"btn" do%>
                <div class="istambule">
                  <div class="boutn">Istanbul</div>
                </div>
              <% end %>
            <% end %>
          </div>

          <div class="col2-col1-ligne2">
            <%= form_for(@trip) do |f| %>
                <%= f.hidden_field :departure, value: "marseille" %>
                <%= f.hidden_field :destination, value: "Malte" %>
                <%= f.button :button, class:"btn" do%>
                  <div class="malte">
                  <div class="boutn">Malte</div>
                  </div>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="col2-col2">
          <%= form_for(@trip) do |f| %>
            <%= f.hidden_field :departure, value: "marseille" %>
            <%= f.hidden_field :destination, value: "Paris" %>
            <%= f.button :button, class:"btn" do%>
              <div class="paris">
                  <div class="boutn">Paris</div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>


      <div class="col2-ligne2">
        <div class="col2-line2-col1">
          <%= form_for(@trip) do |f| %>
            <%= f.hidden_field :departure, value: "marseille" %>
            <%= f.hidden_field :destination, value: "Naples" %>
            <%= f.button :button, class:"btn" do%>
              <div class="naples">
                <div class="boutn">Naples</div>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="col2-line2-col2">
          <%= form_for(@trip) do |f| %>
            <%= f.hidden_field :departure, value: "marseille" %>
            <%= f.hidden_field :destination, value: "Santorin" %>
            <%= f.button :button, class:"btn" do%>
                <div class="santorin">
                  <div class="boutn">Santorin</div>
                </div>
            <% end %>
          <% end %>
        </div>

        <div class="col2-line2-col3">
          <%= form_for(@trip) do |f| %>
            <%= f.hidden_field :departure, value: "marseille" %>
            <%= f.hidden_field :destination, value: "Malaga" %>
            <%= f.button :button, class:"btn" do%>
              <div class="malaga">
                  <div class="boutn">Malaga</div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
