<div class="heroShow d-flex align-items-center">
  <div class="container">
    <h1>Let's go to <%= @trip.destination %> !!</h1>
  </div>
</div>

<div class="container" data-controller="google_map">
  <div class="section">
    <div class="puceText"></div>
    <h2>You choose to go in <%= @transport.transport_type %></h2>
    <p>Here is a overview of the trip and his impact</p>

    <div data-controller="google-map"
        data-google-map-markers-value="<%= @markers.to_json %>">
      <div id="map" style="height: 400px;"></div>
    </div>
  </div>
  <div class="section">
    <div class="puceText"></div>
    <h2>Fuel burn</h2>
    <p>Here is an estimation of burn fuel during this trip</p>
    <%= render "shared/planechartssvg" %>
    <p>For a trip between <span class="bigtext"><%= @trip.departure %></span> and <span class="bigtext"><%= @trip.destination %></span> : </p>
    <ul>
      <li>Distance in plane is about : 4200 km</li>
      <li>During takeoff and landing, the consumption of the device is 690 liters of kerosene.</li>
    </ul>
  </div>
  <div class="section">
    <div class="puceText"></div>
    <h2>Pourcentage target</h2>
    <p>Here is vision of percentage of loose on your CO² annual target.</p>
    <%= render "shared/targetchartsvg" %>
  </div>
  <div class="section">
    <div class="puceText"></div>
    <h2>Total CO2 weight of the journey</h2>
    <p>Here is vision of the total weight.</p>
  </div>
</div>
