<div class="heroShow d-flex align-items-center" style="background-image: linear-gradient(to bottom, rgba(20, 22, 39, 0.75), rgba(20, 22, 39, 0.75)), url('https://loremflickr.com/1500/800/<%= @trip.destination %>,city');">
  <div class="container">
    <div class="row">
      <h1 class="col-8">Let's go to <%= @trip.destination %> !!</h1>
    </div>
  </div>
</div>

<div class="container" data-controller="google_map">
  <div class="row">
    <div class="section col-8">
      <div class="puceText"></div>
      <h2>You choose to go by <%=  @trip.transport.transport_type.name %></h2>
      <p>Here is a overview of the trip and his impact</p>
    </div>
      <div data-controller="google-map"
          data-google-map-markers-value="<%= @markers.to_json %>"
          data-google-map-center-value="<%= @trip_center.to_json %>"
          data-google-map-bounding-value="<%= @bounding_params.to_json %>">
        <div id="map" style="height: 400px;"></div>
      </div>

    <div class="section col-8">
      <div class="puceText"></div>
      <h2>Fuel burned</h2>
      <p>Here is an estimation of burned fuel during this trip</p>
      <div class="imgsvg">
        <%= render "shared/planechartssvg" %>
      </div>
      <p>For a trip between <span class="bigtext"><%= @trip.departure %></span> and <span class="bigtext"><%= @trip.destination %></span> : </p>
      <ul>
        <li>Distance by plane is about : <%= @trip_distance.round %> km</li>
        <li>During takeoff and landing, the consumption of the device is <%= (@trip_distance.round * 10.5).round %> liters of kerosene.</li>
      </ul>
    </div>
    <div class="section col-8">
      <div class="puceText"></div>
      <h2>Pourcentage target</h2>
      <p>Here is vision of percentage of loose on your CO² annual target.</p>
      <div class="imgsvg">
        <%= render "shared/targetchartsvg" %>
        <p>paris's Target   Marseille / Milan</p>
      </div>
    </div>
    <div class="section col-8"
      data-controller="form-co2-calculation"
      data-form-co2-calculation-distance-value="<%= @trip_distance.round %>"
      data-form-co2-calculation-transport-value="<%= @transport.id %>"
      >
      <div class="puceText"></div>
      <h2>Total CO2 weight of the journey</h2>
      <p>Here is vision of the total weight.</p>

      <div class="row text-end justify-content-end">
        <form action="GET" class="col-10">

          <div class="co2-form">
            <select type="text" placeholder="Class of travel" class="form-control" data-form-co2-calculation-target="ticketclass">
              <option value="1">Eco class</option>
              <option value="1.2">Eco premium class</option>
              <option value="1.5">Business Class</option>
              <option value="1.8">Premiere Business Class</option>
            </select>
          </div>

          <div class="d-flex co2-form gap-3">
            <select type="select" placeholder="Avion type" class="form-control" data-form-co2-calculation-target="planetype">
              <option value="1">A 220</option>
              <option value="1.01">A 319</option>
              <option value="1.02">A 320</option>
              <option value="1.03">A 330</option>
              <option value="1.2">A 380</option>
              <option value="1">Boeing 737</option>
              <option value="1.01">Boeing 757</option>
              <option value="1.02">Boeing 767</option>
              <option value="1.03">Boeing 777</option>
              <option value="1.2">Boeing 787</option>
              <option value="1.01">Other type of plane</option>
            </select>

            <select type="text" placeholder="round trip" class="form-control" data-form-co2-calculation-target="roundtype">
              <option value="1">One way </option>
              <option value="2">Round trip</option>
            </select>

          </div>

          <div class="co2-form">
            <input type="submit" value="Calcul my emissions" class="form-control btn btn-primary submit-co2" data-action="click->form-co2-calculation#calculator">
          </div>

        </form>
        <p>Your emmisions for this trips are :</p>
        <h2><span data-form-co2-calculation-target="titreresult"><%= (@trip_distance * 0.23).round %></span> <span class="smalltxt">kgCO²e/passager</span></h2>
      </div>
      <div class="section mb-5">
        <div class="puceText"></div>

        <%= link_to add_co2_path(transport_id: @transport.id,
          co2_capacity: (@trip_distance * 0.23).round),
          data:{form_co2_calculation_target: "lien"},
          class:"btn btn-primary px-4" do %>

          <span>Compenser mon voyage</span>
        <% end %>



        <div class="btn btn-outline-secondary px-4">Modifier mon moyen de transport</div>
      </div>
    </div>
  </div>
</div>
