<% imagebanner = 0
  unsplash_images = Unsplash::Photo.search("#{@trip.destination }", page = 1, per_page = 10, orientation = :landscape)
  imagebanner = unsplash_images.first["urls"]["regular"]
      %>


<div class="heroShow d-flex align-items-center" style="background-image: linear-gradient(to bottom, rgba(20, 22, 39, 0.75), rgba(20, 22, 39, 0.75)), url('<%= imagebanner %>');">
  <div class="container">
    <div class="row">
      <h1 class="col-8 titre-banner">Let's go to <%= @trip.destination %> !!</h1>


    </div>
  </div>
</div>

<div class="container" data-controller="google_map">
  <div class="row">
    <div class="section col-8">
      <div class="puceText"></div>
      <h2>You choose to go by <%=  @trip.transport.transport_type.name %></h2>
      <p>Here is a overview of the trip and his impact</p>
    </div>
      <div data-controller="google-map"
          data-google-map-markers-value="<%= @markers.to_json %>"
          data-google-map-center-value="<%= @trip_center.to_json %>"
          data-google-map-bounding-value="<%= @bounding_params.to_json %>">
        <div id="map" style="height: 400px;"></div>
      </div>

    <div class="section col-8">
      <div class="puceText"></div>
      <h2>Fuel burned</h2>
      <p>Here is an estimation of burned fuel during this trip</p>
      <div class="imgsvg">
        <%= render "shared/planechartssvg" %>
      </div>
      <p>For a trip between <span class="bigtext"><%= @trip.departure %></span> and <span class="bigtext"><%= @trip.destination %></span> : </p>
      <ul>
        <li>Distance by plane is about : <%= @trip_distance.round %> km</li>
        <li>During takeoff and landing, the consumption of the device is <%= (@trip_distance.round * 10.5).round %> liters of kerosene.</li>
      </ul>
    </div>
    <div class="section col-8">
      <div class="puceText"></div>
      <h2>Pourcentage target</h2>
      <p>Here is vision of percentage of loose on your CO² annual target.</p>

      <% percentParis = ((@trip_distance * 0.23).round)/20 %>
      <% positionStart = (100 - percentParis) * 2.1 %>

      <div class="imgsvg">
        <svg width="497" height="238" viewBox="0 0 497 238" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_d_240_141)">
          <line x1="80" y1="223.5" x2="497" y2="223.5" stroke="#3B3270"/>
          </g>
          <g filter="url(#filter1_d_240_141)">
          <line x1="104.5" y1="11" x2="104.5" y2="237" stroke="#3B3270"/>
          </g>
          <path d="M2.28211 18.054C2.07811 18.054 1.89211 17.97 1.72411 17.802C1.56811 17.622 1.49011 17.424 1.49011 17.208C1.49011 17.04 1.49011 16.872 1.49011 16.704C1.50211 16.536 1.54411 16.368 1.61611 16.2C1.68811 16.032 1.82611 15.876 2.03011 15.732C2.69011 15.252 3.33211 14.808 3.95611 14.4C4.59211 13.98 5.18011 13.578 5.72011 13.194C6.27211 12.81 6.75211 12.426 7.16011 12.042C7.56811 11.658 7.88611 11.262 8.11411 10.854C8.35411 10.434 8.47411 9.978 8.47411 9.486C8.47411 8.994 8.37211 8.574 8.16811 8.226C7.97611 7.866 7.68211 7.59 7.28611 7.398C6.89011 7.194 6.39811 7.092 5.81011 7.092C5.37811 7.092 4.99411 7.158 4.65811 7.29C4.32211 7.41 4.04011 7.59 3.81211 7.83C3.58411 8.07 3.41011 8.364 3.29011 8.712C3.17011 9.06 3.11011 9.456 3.11011 9.9C3.11011 10.08 3.09211 10.23 3.05611 10.35C3.03211 10.47 2.96011 10.56 2.84011 10.62C2.73211 10.68 2.54611 10.71 2.28211 10.71C2.01811 10.71 1.82611 10.668 1.70611 10.584C1.59811 10.5 1.53211 10.386 1.50811 10.242C1.49611 10.098 1.49011 9.936 1.49011 9.756C1.49011 9.132 1.58611 8.562 1.77811 8.046C1.97011 7.518 2.25211 7.062 2.62411 6.678C2.99611 6.294 3.44611 6 3.97411 5.796C4.50211 5.58 5.10811 5.472 5.79211 5.472C6.66811 5.472 7.42411 5.634 8.06011 5.958C8.70811 6.282 9.21211 6.756 9.57211 7.38C9.93211 7.992 10.1121 8.748 10.1121 9.648C10.1121 10.056 10.0521 10.446 9.93211 10.818C9.81211 11.19 9.63211 11.55 9.39211 11.898C9.16411 12.234 8.88811 12.564 8.56411 12.888C8.25211 13.2 7.89211 13.512 7.48411 13.824C7.08811 14.136 6.65611 14.454 6.18811 14.778C5.72011 15.09 5.22811 15.408 4.71211 15.732L3.57811 16.416H9.84211C10.0101 16.416 10.1541 16.434 10.2741 16.47C10.3941 16.506 10.4841 16.584 10.5441 16.704C10.6161 16.824 10.6521 17.004 10.6521 17.244C10.6521 17.472 10.6161 17.646 10.5441 17.766C10.4721 17.886 10.3761 17.964 10.2561 18C10.1361 18.036 9.98611 18.054 9.80611 18.054H2.28211ZM26.5562 5.616C26.7122 5.616 26.8382 5.634 26.9342 5.67C27.0422 5.706 27.1262 5.778 27.1862 5.886C27.2462 5.982 27.2762 6.144 27.2762 6.372C27.2762 6.588 27.2402 6.75 27.1682 6.858C27.1082 6.966 27.0242 7.038 26.9162 7.074C26.8082 7.098 26.6762 7.11 26.5202 7.11H22.7942V17.388C22.7942 17.544 22.7702 17.682 22.7222 17.802C22.6862 17.922 22.6082 18.012 22.4882 18.072C22.3802 18.144 22.2122 18.18 21.9842 18.18C21.7442 18.18 21.5642 18.144 21.4442 18.072C21.3362 18.012 21.2642 17.922 21.2282 17.802C21.2042 17.67 21.1922 17.526 21.1922 17.37V7.11H17.4122C17.2562 7.11 17.1242 7.098 17.0162 7.074C16.9082 7.038 16.8242 6.966 16.7642 6.858C16.7042 6.75 16.6742 6.588 16.6742 6.372C16.6742 6.144 16.6982 5.982 16.7462 5.886C16.8062 5.778 16.8902 5.706 16.9982 5.67C17.1182 5.634 17.2502 5.616 17.3942 5.616H26.5562ZM34.0531 18.216C33.4051 18.216 32.7751 18.12 32.1631 17.928C31.5511 17.736 30.9811 17.46 30.4531 17.1C29.9251 16.74 29.4571 16.296 29.0491 15.768C28.6531 15.228 28.3411 14.628 28.1131 13.968C27.8851 13.296 27.7711 12.558 27.7711 11.754C27.7711 10.986 27.8851 10.278 28.1131 9.63C28.3411 8.97 28.6531 8.388 29.0491 7.884C29.4451 7.38 29.9071 6.954 30.4351 6.606C30.9751 6.246 31.5511 5.976 32.1631 5.796C32.7871 5.604 33.4231 5.508 34.0711 5.508C34.6711 5.508 35.1871 5.568 35.6191 5.688C36.0511 5.808 36.4051 5.94 36.6811 6.084C36.9571 6.216 37.1431 6.318 37.2391 6.39C37.4071 6.486 37.5691 6.6 37.7251 6.732C37.8811 6.864 37.9651 7.02 37.9771 7.2C38.0011 7.332 37.9891 7.44 37.9411 7.524C37.9051 7.608 37.8571 7.698 37.7971 7.794C37.7011 7.938 37.5991 8.046 37.4911 8.118C37.3951 8.178 37.2871 8.208 37.1671 8.208C37.0471 8.208 36.9391 8.172 36.8431 8.1C36.7471 8.028 36.6211 7.944 36.4651 7.848C36.3931 7.8 36.2491 7.722 36.0331 7.614C35.8171 7.506 35.5411 7.404 35.2051 7.308C34.8691 7.2 34.4611 7.146 33.9811 7.146C33.3691 7.146 32.7811 7.26 32.2171 7.488C31.6651 7.704 31.1791 8.016 30.7591 8.424C30.3391 8.832 30.0091 9.324 29.7691 9.9C29.5291 10.476 29.4091 11.124 29.4091 11.844C29.4091 12.576 29.5291 13.236 29.7691 13.824C30.0091 14.4 30.3391 14.892 30.7591 15.3C31.1911 15.708 31.6831 16.02 32.2351 16.236C32.7871 16.452 33.3691 16.56 33.9811 16.56C34.4371 16.56 34.8331 16.512 35.1691 16.416C35.5171 16.32 35.7991 16.218 36.0151 16.11C36.2431 15.99 36.3991 15.9 36.4831 15.84C36.6151 15.768 36.7291 15.696 36.8251 15.624C36.9331 15.552 37.0471 15.516 37.1671 15.516C37.2871 15.516 37.3951 15.552 37.4911 15.624C37.5991 15.684 37.7011 15.786 37.7971 15.93C37.8571 16.014 37.9051 16.11 37.9411 16.218C37.9891 16.314 38.0011 16.422 37.9771 16.542C37.9651 16.722 37.8811 16.878 37.7251 17.01C37.5691 17.13 37.4071 17.244 37.2391 17.352C37.1311 17.4 36.9391 17.502 36.6631 17.658C36.3991 17.802 36.0511 17.928 35.6191 18.036C35.1871 18.156 34.6651 18.216 34.0531 18.216ZM43.953 18.288C43.365 18.288 42.801 18.174 42.261 17.946C41.733 17.718 41.259 17.406 40.839 17.01C40.419 16.602 40.089 16.128 39.849 15.588C39.609 15.048 39.489 14.46 39.489 13.824C39.489 13.2 39.603 12.624 39.831 12.096C40.059 11.556 40.377 11.082 40.785 10.674C41.193 10.266 41.661 9.948 42.189 9.72C42.729 9.48 43.305 9.36 43.917 9.36C44.745 9.36 45.489 9.558 46.149 9.954C46.821 10.338 47.355 10.866 47.751 11.538C48.147 12.21 48.345 12.966 48.345 13.806C48.345 14.466 48.225 15.072 47.985 15.624C47.745 16.164 47.421 16.632 47.013 17.028C46.605 17.424 46.137 17.736 45.609 17.964C45.081 18.18 44.529 18.288 43.953 18.288ZM43.917 16.722C44.421 16.722 44.889 16.596 45.321 16.344C45.753 16.092 46.101 15.744 46.365 15.3C46.629 14.856 46.761 14.352 46.761 13.788C46.761 13.224 46.635 12.726 46.383 12.294C46.143 11.862 45.807 11.526 45.375 11.286C44.943 11.046 44.451 10.926 43.899 10.926C43.371 10.926 42.891 11.052 42.459 11.304C42.039 11.556 41.697 11.898 41.433 12.33C41.181 12.762 41.055 13.254 41.055 13.806C41.055 14.382 41.187 14.892 41.451 15.336C41.715 15.768 42.063 16.11 42.495 16.362C42.939 16.602 43.413 16.722 43.917 16.722ZM50.2272 14.508C50.0832 14.508 49.9512 14.478 49.8312 14.418C49.7112 14.346 49.6152 14.25 49.5432 14.13C49.4832 14.01 49.4532 13.878 49.4532 13.734C49.4532 13.59 49.4592 13.446 49.4712 13.302C49.4832 13.158 49.5312 13.014 49.6152 12.87C49.6992 12.714 49.8432 12.57 50.0472 12.438C50.6472 12.03 51.2052 11.664 51.7212 11.34C52.2492 11.004 52.7112 10.68 53.1072 10.368C53.5152 10.044 53.8272 9.714 54.0432 9.378C54.2712 9.042 54.3852 8.676 54.3852 8.28C54.3852 7.98 54.3192 7.716 54.1872 7.488C54.0672 7.26 53.8752 7.08 53.6112 6.948C53.3592 6.816 53.0472 6.75 52.6752 6.75C52.2792 6.75 51.9492 6.828 51.6852 6.984C51.4332 7.14 51.2412 7.356 51.1092 7.632C50.9892 7.908 50.9292 8.22 50.9292 8.568C50.9292 8.736 50.9112 8.874 50.8752 8.982C50.8392 9.09 50.7672 9.174 50.6592 9.234C50.5512 9.294 50.3832 9.324 50.1552 9.324C49.9152 9.324 49.7472 9.282 49.6512 9.198C49.5552 9.114 49.4952 9.006 49.4712 8.874C49.4592 8.742 49.4532 8.616 49.4532 8.496C49.4532 7.848 49.5852 7.284 49.8492 6.804C50.1132 6.324 50.4852 5.952 50.9652 5.688C51.4452 5.424 52.0092 5.292 52.6572 5.292C53.3292 5.292 53.9052 5.418 54.3852 5.67C54.8652 5.922 55.2312 6.282 55.4832 6.75C55.7472 7.206 55.8792 7.758 55.8792 8.406C55.8792 8.718 55.8312 9.018 55.7352 9.306C55.6512 9.582 55.5132 9.858 55.3212 10.134C55.1292 10.398 54.8892 10.668 54.6012 10.944C54.3132 11.22 53.9712 11.508 53.5752 11.808C53.1792 12.096 52.7292 12.408 52.2252 12.744L51.5592 13.032H55.5912C55.7232 13.032 55.8372 13.056 55.9332 13.104C56.0292 13.14 56.1072 13.212 56.1672 13.32C56.2272 13.416 56.2572 13.572 56.2572 13.788C56.2572 13.992 56.2272 14.148 56.1672 14.256C56.1192 14.352 56.0412 14.418 55.9332 14.454C55.8252 14.49 55.7052 14.508 55.5732 14.508H50.2272Z" fill="#F3F3F3"/>

          <rect x="154" y="11" width="62" height="210" fill="url(#paint0_linear_240_141)"/>

          <g filter="url(#filter2_d_240_141)">
          <line x1="80" y1="170.5" x2="497" y2="170.5" stroke="#3B3270" stroke-opacity="0.3" shape-rendering="crispEdges"/>
          </g>
          <g filter="url(#filter3_d_240_141)">
          <line x1="80" y1="115.5" x2="497" y2="115.5" stroke="#3B3270" stroke-opacity="0.3" shape-rendering="crispEdges"/>
          </g>
          <g filter="url(#filter4_d_240_141)">
          <line x1="80" y1="58.5" x2="497" y2="58.5" stroke="#3B3270" stroke-opacity="0.3" shape-rendering="crispEdges"/>
          </g>
          <g filter="url(#filter5_d_240_141)">
          <line x1="80" y1="10.5" x2="497" y2="10.5" stroke="#3B3270" stroke-opacity="0.3" shape-rendering="crispEdges"/>
          </g>

          <rect x="353" y="<%= positionStart.round + 5 %>" width="62" height="<%= percentParis %>%" fill="#E6549A"/>

            <defs>
              <filter id="filter0_d_240_141" x="80" y="223" width="417" height="2" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dy="1"/>
              <feComposite in2="hardAlpha" operator="out"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0.0784314 0 0 0 0 0.0862745 0 0 0 0 0.152941 0 0 0 1 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_240_141"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_240_141" result="shape"/>
              </filter>
              <filter id="filter1_d_240_141" x="104" y="11" width="1" height="227" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dy="1"/>
              <feComposite in2="hardAlpha" operator="out"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0.0784314 0 0 0 0 0.0862745 0 0 0 0 0.152941 0 0 0 1 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_240_141"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_240_141" result="shape"/>
              </filter>
              <filter id="filter2_d_240_141" x="80" y="170" width="417" height="2" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dy="1"/>
              <feComposite in2="hardAlpha" operator="out"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0.0784314 0 0 0 0 0.0862745 0 0 0 0 0.152941 0 0 0 1 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_240_141"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_240_141" result="shape"/>
              </filter>
              <filter id="filter3_d_240_141" x="80" y="115" width="417" height="2" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dy="1"/>
              <feComposite in2="hardAlpha" operator="out"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0.0784314 0 0 0 0 0.0862745 0 0 0 0 0.152941 0 0 0 1 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_240_141"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_240_141" result="shape"/>
              </filter>
              <filter id="filter4_d_240_141" x="80" y="58" width="417" height="2" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dy="1"/>
              <feComposite in2="hardAlpha" operator="out"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0.0784314 0 0 0 0 0.0862745 0 0 0 0 0.152941 0 0 0 1 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_240_141"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_240_141" result="shape"/>
              </filter>
              <filter id="filter5_d_240_141" x="80" y="10" width="417" height="2" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dy="1"/>
              <feComposite in2="hardAlpha" operator="out"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0.0784314 0 0 0 0 0.0862745 0 0 0 0 0.152941 0 0 0 1 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_240_141"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_240_141" result="shape"/>
              </filter>
              <linearGradient id="paint0_linear_240_141" x1="184.956" y1="11" x2="220.692" y2="214.748" gradientUnits="userSpaceOnUse">
              <stop stop-color="#3B3270" stop-opacity="0.52"/>
              <stop offset="1" stop-color="#3B3270" stop-opacity="0"/>
              </linearGradient>
            </defs>
          </svg>

        <p>Objectives of the Paris Agreement    <span class="percent-paris"><%= @trip.name %> : <%= percentParis %>%</span></p>
      </div>
    </div>
    <div class="section col-8"
      data-controller="form-co2-calculation"
      data-form-co2-calculation-distance-value="<%= @trip_distance.round %>"
      data-form-co2-calculation-transport-value="<%= @transport.id %>"
      >
      <div class="puceText"></div>
      <h2>Total CO2 weight of the journey</h2>
      <p>Here is vision of the total weight.</p>

      <div class="row text-end justify-content-end">
        <form action="GET" class="col-10">

          <div class="co2-form">
            <select type="text" placeholder="Class of travel" class="form-control" data-form-co2-calculation-target="ticketclass">
              <option value="1">Eco class</option>
              <option value="1.2">Eco premium class</option>
              <option value="1.5">Business Class</option>
              <option value="1.8">Premiere Business Class</option>
            </select>
          </div>

          <div class="d-flex co2-form gap-3">
            <select type="select" placeholder="Avion type" class="form-control" data-form-co2-calculation-target="planetype">
              <option value="1">A 220</option>
              <option value="1.01">A 319</option>
              <option value="1.02">A 320</option>
              <option value="1.03">A 330</option>
              <option value="1.2">A 380</option>
              <option value="1">Boeing 737</option>
              <option value="1.01">Boeing 757</option>
              <option value="1.02">Boeing 767</option>
              <option value="1.03">Boeing 777</option>
              <option value="1.2">Boeing 787</option>
              <option value="1.01">Other type of plane</option>
            </select>

            <select type="text" placeholder="round trip" class="form-control" data-form-co2-calculation-target="roundtype">
              <option value="1">One way </option>
              <option value="2">Round trip</option>
            </select>

          </div>

          <div class="co2-form">
            <input type="submit" value="Calcul my emissions" class="form-control btn btn-primary submit-co2" data-action="click->form-co2-calculation#calculator">
          </div>

        </form>
        <p>Your emmisions for this trips are :</p>
        <h2><span data-form-co2-calculation-target="titreresult"><%= (@trip_distance * 0.23).round %></span> <span class="smalltxt">kgCO²e/passager</span></h2>
      </div>
      <div class="section mb-5">
        <div class="puceText"></div>

        <%= link_to add_co2_path(transport_id: @transport.id,
          co2_capacity: (@trip_distance * 0.23).round),
          data:{form_co2_calculation_target: "lien"},
          class:"btn btn-primary px-4" do %>

          <span>Compenser mon voyage</span>
        <% end %>



        <div class="btn btn-outline-secondary px-4">Modifier mon moyen de transport</div>
      </div>
    </div>
  </div>
</div>
