<div class="container">
  <div class="row">
    <div class="auto col-8">
      <div class="inspiration d-inline-block">

          <div class="puceText">
          </div>
          <h2 class=" ml-3 mb-0">Choose your transport type</h2>
          <p class="mt-2">Be aware of differents timing, co2 emission and distance for diffrents type of transports</p>

      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">

<ul>
    <div class="transport col-10"  data-controller="direction-api"
       data-direction-api-trip-departure-value="<%= @trip.departure %>"
       data-direction-api-trip-destination-value="<%= @trip.destination %>">

      <div class="ligne1 d-flex flex-wrap">
  <% @transport_types.each do |transport_type| %>

    <%= link_to trip_add_transport_path(@trip, {transport_type: transport_type, trip_distance: @trip_distance}) do %>
        <div class="transport-card position-relative">
          <div class="titre">
            <h3><%=transport_type.name.capitalize%></h3>
          </div>

          <div class="icone">
            <%= render partial: "shared/svg/#{transport_type.name.downcase}" %>
          </div>

          <div class="description">
            <% if transport_type.name == "plane" %>
              <p><%= @trip_distance.round %> km</p>
            <% else %>
              <p  id="<%= transport_type.name %>_distance"> km</p>
            <% end %>
             <% if transport_type.name == "plane" %>
              <p><%= (@trip_distance/900).round %> h</p>
            <% else %>
              <p  id="<%= transport_type.name %>_duration"> </p>
            <% end %>
             <p><%= transport_type.fuel_consumption %> Kgco² / 100 km</p>
          </div>


          <div class="bton position-absolute bottom-0 end-0">
          <a class="choosLink" href="/">Selectioner</a>

          </div>
        </div>

    <% end %>
  <% end %>
</ul>



    </div>
  </div>
</div>
