<div class="container">
  <div class="transport col-8">
    <h1 class="tansport">Choissisez Votre Moyens de transport</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="auto col-8">
      <div class="inspiration d-inline-block">
        <div class="d-flex align-items-center">
          <div class="puceText">
          </div>
          <h2 class=" ml-3 mb-0">Need inspiration ?</h2>
        </div>
      </div>
      <p class="text ml-3 mt-2">Get inspired with the favorites destination of users</p>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">

<ul>
    <div class="transport col-9">

      <div class="ligne1 d-flex flex-wrap">
  <% @transport_types.each do |transport_type| %>

    <%= link_to trip_add_transport_path(@trip, {transport_type: transport_type, trip_distance: @trip_distance}) do %>
        <div class="haut-gauche position-relative">
          <div class="titre">
            <h3><%=transport_type.name%></h3>
          </div>

          <div class="icone">
            <%= render partial: "shared/svg/#{transport_type.name.downcase}" %>
          </div>

          <div class="description">
            <p><%= @trip_distance.round %> km</p>
            <%# <p><%= @transport.duration %> h</p>
            <%# <p><%= @transport.co2_capacity %> Kgco2</p>
          </div>


          <div class="bton position-absolute bottom-0 end-0">
          <a class="choosLink" href="/">Selectioner</a>

          </div>
        </div>

    <% end %>
  <% end %>
</ul>



    </div>
  </div>
</div>
