<div class="container">
  <div class="row">
    <div class="auto col-8">
      <div class="inspiration d-inline-block">

          <div class="puceText"></div>
          <h2 class=" ml-3 mb-0">Choose your transport type</h2>
          <p class="mt-2">Be aware of differents timing, co2 emission and distance for diffrents type of transports</p>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="transport col-10"
      data-controller="direction-api"
      data-direction-api-trip-departure-value="<%= @trip.departure %>"
      data-direction-api-trip-destination-value="<%= @trip.destination %>"
      data-direction-api-trip-consumption-value="<%=  @transport_types.find_by(name:"driving").fuel_consumption %>"
    >
      <div class="ligne1 d-flex flex-wrap">
        <% @transport_types.each do |transport_type| %>

          <div class="transport-card position-relative p-4">
            <%= link_to add_transport_path(trip_id: @trip.id, transport_type: transport_type, trip_distance: @trip_distance), data:{turbo:false} do %>

              <div class="ligne1 d-flex justify-content-between">

                <div class="titre">
                  <h3><%= transport_type.name.capitalize %></h3>
                </div>

                <div class="icone">
                  <%= render partial: "shared/svg/#{transport_type.name.downcase}" %>
                </div>

              </div>

              <div class="totaldescription d-flex">

                <div class="puceHoriz"></div>
                <div class="description">

                  <% if transport_type.name == "plane" %>
                    <p class="data-trip"><%= @trip_distance.round %> km</p>
                    <p class="distancefont"><%= (@trip_distance/900).round %> h</p>
                  <% else %>
                    <p class="data-trip" id="<%= transport_type.name %>_distance"> <span class="smaller">km</span></p>
                    <p class ="distancefont"id="<%= transport_type.name %>_duration"> </p>
                  <% end %>

                  <p id="<%= transport_type.name %>_consumption"><%= (@trip_distance * transport_type.fuel_consumption / 1000).round %> Kgco² / 100 km</p>

                </div>
              </div>


              <div class="choosLink bton ">
                <a class="boutn-transport" href="/">Selectioner</a>
              </div>


             <% end %>
          </div>
        <% end %>
      </div>


    </div>
    </div>
</div>
