<div class="container">
  <div class="row">
    <div class="section col-8">
      <div class="puceText"></div>
      <h2>My dashboard</h2>
      <p>Find here an overview of all your trips and compensations</p>
      <div class="ligne1 d-flex flex-wrap">

      <%
      carbon_sum = 0
      compensation_sum = 0

      @trips.each do |trip|
        carbon_sum += trip.transport.co2_capacity
        trip.compensation_trips.each do |compensation_trip|
          compensation_sum += compensation_trip.compensation.co2_absorption
        end
      end
      %>


        <div class="transport-card position-relative p-4 d-flex flex-column justify-content-between">
          <h3>Total Co² emission balance</h3>
          <div class="totaldescription text-left border-left">
            <div class="description">
              <p><%= carbon_sum %> Kg co² e</p>
            </div>
          </div>
          <div class="btn btn-outline-secondary px-4">See details</div>
        </div>

        <div class="transport-card position-relative p-4 d-flex flex-column justify-content-between">
          <h3>Total balance sheet compensation</h3>
          <div class="totaldescription text-left border-left my-3">
            <div class="description">


              <p><%= compensation_sum %> Kg co² a / year</p>
              <p class="smaller">7 years yet for a balanced account</p>
            </div>
          </div>
          <div class="btn btn-outline-secondary px-4">See details</div>
        </div>

      </div>
    </div>

    <div class="section col-8">
      <div class="puceText"></div>
      <h2>My emissions history</h2>
      <p>Find here an overview of all your Co² emissions</p>

      <div class="ligne1 d-flex flex-wrap">

      <% @trips.each do |trip| %>
        <div class="transport-card position-relative p-4">
              <div class="totaldescription d-flex justify-content-between align-items-center">
                <h3><%= trip.transport.transport_type.name.capitalize %></h3>
                <div class="icone-trip">
                  <%= render partial: "shared/svg/#{trip.transport.transport_type.name.downcase}" %>
                </div>
              </div>
              <div class="puceHoriz"></div>
              <div class="trip-infos">

                  <p><%= trip.departure %> / <%= trip.destination %></p>
                  <p class="data-trip border-left ps-4"> <%= trip.transport.co2_capacity %><span class="smaller"> kg Co²e</span></p>

                <p class="statut statut-validated mt-3"><i class="fa-regular fa-circle-check"></i> compensated</p>
              </div>
            </div>
      <% end %>

      </div>
    </div>

    <div class="section col-8">
      <div class="puceText"></div>
      <h2>My compensations history</h2>
      <p>Find here an overview of all your Co² compensations</p>

      <div class="w-100">
      <% @trips.each do |trip| %>
        <% trip.compensation_trips.each do |compensation_trip| %>
          <div class="compensation-card p-4">
            <h3><%= compensation_trip.compensation.name %></h3>
            <h3><%= compensation_trip.trip.name %></h3>
            <div class="border-left my-3 px-4 info-compensation">
              <p><%= compensation_trip.compensation.co2_absorption %> kg co²a / year</p>
              <p>8 month left</p>
            </div>
          </div>
        <% end%>
      <% end %>
        <a href="#compensation-grid">
        <div class="btn btn-outline-secondary px-4 py-2 w-100 my-3"><i class="fa-solid fa-plus"></i> Add a new compensation</div>
        </a>
      </div>
    </div>



    <div class="section col-8">
      <div class="puceText"></div>
      <h2>Need compensation idea ?</h2>
      <p>Get inspired with the most used compensations</p>

      <div class="w-100">
        <% @compensations.each do |compensation| %>
          <div class="compensation-card p-4">
            <%= link_to compensation_path(compensation) do %>
              <h3><%= compensation.name %></h3>
              <p><%= compensation.co2_absorption %>kgCO²a / an</p>
            <% end %>
          </div>
        <% end %>
      </div>

    </div>
    <div class="container">
  <div class="grid" id="compensation-grid">


    <div class="c2ol">
      <div class="co2l-lign2e">
        <div class="co2l-lin2e-co1l">
          <div class="dechet p-4">
          <h4>Participation in reforestation</h4>
            <a class="bnnt" href="/">Compensation</a>
          </div>
        </div>

        <div class="co2l-lin2e-co2l">
          <div class="forret p-4">
            <h4>Participation in reforestation</h4>
            <a class="bnnt" href="/">Choose</a>
          </div>
        </div>

        <div class="co2l-lin2e-co2">
          <div class="co2">
            <a class="bnnt" href="/">Compensation</a>
          </div>
        </div>
      </div>
      <div class="co2l-lign1e">
        <div class="co2l-co1l">
          <div class="co2l-co1l-lign1e">
            <div class="share">
              <a class="bnnt" href="/">Compensation</a>
            </div>
          </div>

          <div class="co2l-co1l-lign2e">
            <div class="voltaic">
              <a class="bnnt" href="/">Compensation</a>
            </div>
          </div>
        </div>

        <div class="co2l-co2l">
          <div class="meat">
            <a class="boutn" href="/">Compensation</a>
          </div>
        </div>
      </div>


    </div>
    <div class="co1l">
      <div class="tree">
      <a class="bnnt" href="http://localhost:3000/compensation_trips/1">Compensation</a>
      </div>
    </div>
  </div>
</div>

  </div>
</div>
