<div class="container">
  <div class="row">
    <div class="section col-8">
      <div class="puceText"></div>
      <h2>My dashboard</h2>
      <p>Find here an overview of all your trips and compensations</p>
      <div class="ligne1 d-flex flex-wrap">

        <div class="transport-card position-relative p-4 d-flex flex-column justify-content-between">
          <h3>Total Co² emission balance</h3>
          <div class="totaldescription text-left border-left">
            <div class="description">
              <p> <span class="violet-text"><%= @carbon_sum %> </span> Kg co² e</p>
            </div>
          </div>
          <a href="#trip-history">
            <div class="btn btn-outline-secondary px-4">See details</div>
          </a>
        </div>

        <div class="transport-card position-relative p-4 d-flex flex-column justify-content-between">
          <h3>Total balance sheet compensation</h3>
          <div class="totaldescription text-left border-left my-3">
            <div class="description">


              <p>  <span class="green-text"><%= @compensation_sum %></span> Kg co² a / year</p>
              <p class="smaller"> <%= (@carbon_sum / @compensation_sum).round %> years yet for a balanced account</p>
            </div>
          </div>
          <a href="#compensation-history">
            <div class="btn btn-outline-secondary px-4">See details</div>
          </a>
        </div>

      </div>
    </div>

    <div class="section col-8">
      <div class="puceText"></div>
      <h2>My emissions history</h2>
      <p>Find here an overview of all your Co² emissions</p>

      <div class="ligne1 d-flex flex-wrap" id="trip-history">

      <% @trips.each do |trip| %>
        <div class="transport-card position-relative p-4">
              <div class="totaldescription d-flex justify-content-between align-items-center">
                <h3><%= trip.transport.transport_type.name.capitalize %></h3>
                <div class="icone-trip">
                  <%= render partial: "shared/svg/#{trip.transport.transport_type.name.downcase}" %>
                </div>
              </div>
              <div class="puceHoriz"></div>
              <div class="trip-infos">

                  <p><%= trip.departure %> / <%= trip.destination %></p>
                  <p class="data-trip border-left ps-4"> <%= trip.transport.co2_capacity %><span class="smaller"> kg Co²e</span></p>
                <% if trip.compensation_trips.present? %>
                  <p class="statut statut-validated mt-3"><i class="fa-regular fa-circle-check"></i> compensated</p>
                <% else %>
                  <p class="statut statut-pending mt-3"><i class="fa-solid fa-ellipsis"></i> still pending compensation</p>
                <% end %>
              </div>
            </div>
      <% end %>

      </div>
    </div>

    <div class="section col-8">
      <div class="puceText"></div>
      <h2>My compensations history</h2>
      <p>Find here an overview of all your Co² compensations</p>

      <div class="w-100"  id="compensation-history">
      <% @trips.each do |trip| %>
        <% trip.compensation_trips.each do |compensation_trip| %>
          <div class="compensation-card p-4">
            <h3><%= compensation_trip.compensation.name %></h3>
            <h3><%= compensation_trip.trip.name %></h3>
            <div class="border-left my-3 px-4 info-compensation">
              <p><%= compensation_trip.status %> kg co²a / year</p>
              <p>8 month left</p>
            </div>
          </div>
        <% end%>
      <% end %>
        <a href="#compensation-grid">
        <div class="btn btn-outline-secondary px-4 py-2 w-100 my-3"><i class="fa-solid fa-plus"></i> Add a new compensation</div>
        </a>
      </div>
    </div>



    <div class="section col-8">
      <div class="puceText"></div>
      <h2>Need compensation idea ?</h2>
      <p>Get inspired with the most used compensations</p>
    </div>
<div class="grid" id="compensation-grid">


    <div class="c2ol">
      <div class="co2l-lign2e">
        <div class="co2l-lin2e-co1l">
          <div class="dechet p-4">
            <h4>Participation in reforestation</h4>
            <p>10kgCO²a / an</p>
            <a class="bnnt" href="/compensations/1">Chosse</a>
          </div>
        </div>

        <div class="co2l-lin2e-co2l">
          <div class="forret p-4">
            <h4>Participation in the protection of existing forests</h4>
            <p>15kgCO²a / an</p>
            <a class="bnnt" href="/compensations/2">Choose</a>
          </div>
        </div>

        <div class="co2l-lin2e-co2">
          <div class="co2 p-4">
          <h4>Participation in carbon capture</h4>
          <p>12kgCO²a / an</p>
            <a class="bnnt" href="/compensations/5">Choose</a>
          </div>
        </div>
      </div>
      <div class="co2l-lign1e">
        <div class="co2l-co1l">
          <div class="co2l-co1l-lign1e">
            <div class="share p-4">
              <h4>Committing to prioritize public transportation</h4>
              <p> 8kgCO²a / an</p>
              <a class="bnnt" href="/compensations/6">Choose</a>
            </div>
          </div>

          <div class="co2l-co1l-lign2e">
            <div class="voltaic p-4">
              <h4>Implementing energy renovation</h4>
              <p>20kgCO²a / an</p>
              <a class="bnnt" href="/compensations/4">Choose</a>
            </div>
          </div>
        </div>

        <div class="co2l-co2l">
          <div class="meat p-4">
            <h4>Ceasing meat consumption</h4>
            <p>30kgCO²a / an</p>
            <a class="boutn" href="/compensations/7">Choose</a>
          </div>
        </div>
      </div>


    </div>
    <div class="co1l">
      <div class="tree p-4">
        <h4>Participation in agriculture and land management</h4>
        <p>5kgCO²a / an</p>
        <a class="bnnt" href="/compensations/3">Choose</a>
      </div>
    </div>
  </div>
  </div>
</div>
